.segmented-buttons {
  @apply flex rounded-full border h-10 overflow-hidden;
}

.segmented-button {
  @apply flex-1 relative;
  border: 1px solid var(--md-sys-color-outline);
  color: var(--md-sys-color-on-surface);
}

.segmented-button:first-child {
  @apply rounded-l-full;
}

.segmented-button:last-child {
  @apply rounded-r-full;
}

.segmented-button:not(:last-child) {
  @apply -mr-px;
}

.segmented-button.selected {
  @apply flex-1;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-secondary-container);
}

.segmented-button.disabled {
  @apply flex-1;
  opacity: 0.38;
  border: 1px solid var(--md-sys-color-outline) opacity(0.12);
}

.card {
  --md-elevation-level: 4;
  @apply relative flex flex-col rounded-xl bg-white;
}
