.segmented-buttons {
  @apply flex rounded-full border h-10 overflow-hidden min-h-[40px];
}

.segmented-button {
  @apply flex-1 relative text-onSurface h-full;
  border: 1px solid var(--md-sys-color-outline);
}

.segmented-button:first-child {
  @apply rounded-l-full;
}

.segmented-button:last-child {
  @apply rounded-r-full;
}

.segmented-button:not(:last-child) {
  @apply -mr-px;
}

.segmented-button.selected {
  @apply flex-1;
  color: var(--md-sys-color-on-surface);
  background-color: var(--md-sys-color-secondary-container);
}

.segmented-button.disabled {
  @apply flex-1;
  opacity: 0.38;
  border: 1px solid var(--md-sys-color-outline) opacity(0.12);
}

.sign-card {
  --md-elevation-level: 4;
  @apply relative flex flex-col rounded-xl bg-white;
}

.card {
  @apply relative rounded-xl px-4;
}

.card.elevated {
  --md-elevation-level: 1;
  @apply bg-surfaceContainerLow;
}

.card.elevated.hovered {
  --md-elevation-level: 2;
}

.card.elevated.pressed {
  --md-elevation-level: 1;
}

.card.elevated.dragged {
  --md-elevation-level: 4;
}

.card.elevated.disabled {
  @apply opacity-40;
}

.card.filled {
  --md-elevation-level: 0;
  @apply bg-surfaceContainerHighest;
}

.card.filled.hovered {
  --md-elevation-level: 1;
}

.card.filled.pressed {
  --md-elevation-level: 0;
}

.card.filled.dragged {
  --md-elevation-level: 3;
}

.card.outlined {
  --md-elevation-level: 0;
  @apply border border-outlineVariant bg-surface;
}

.card.outlined.hovered {
  --md-elevation-level: 1;
}

.card.outlined.pressed {
  --md-elevation-level: 0;
}

.card.outlined.dragged {
  --md-elevation-level: 3;
}

.datepicker-container {
  --md-elevation-level: 3;
  width: 360px;
  min-height: 360px;
  @apply bg-surfaceContainerHigh rounded-2xl p-3 flex flex-col justify-between;
}
