.textfield {
  --md-outlined-text-field-label-text-font: var(--font-pretendard);
  --md-outlined-text-field-supporting-text-font: var(--font-pretendard);
  @apply h-fit;
}

.card {
  --md-elevation-level: 4;
  @apply relative flex flex-col rounded-xl bg-white;
}
